<div class="container">
            <div class="row">
                <div class="page-header page-header-holder">
                    <div class="row">
                        <div class="col-md-6">
                            <ol class="breadcrumb">
                                <li><a href="#">Главная</a></li>
                                <li class="active">Спортивные тренеры</li>
                            </ol>
                            <h1 class="h1">Спортивные тренеры</h1>
                            <ul class="list-horizontal list-middle-dot">
                                <li><a href="#" class="text-muted text-dotted">Тренажерный зал</a></li>
                                <li><a href="#" class="text-muted text-dotted">Зумба</a></li>
                                <li><a href="#" class="text-muted text-dotted">TRX</a></li>
                                <li><a href="#" class="text-muted text-dotted">Фитнес-бикини</a></li>
                                <li><a href="#" class="text-muted text-dotted">Коррекция фигуры</a></li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                          <profiza-phone-request></profiza-phone-request>
                        </div>
                    </div>
                </div>
                <aside class="category-sidebar">
                    <div class="grid-item">
                        <div class="grid-body">
                            <ul class="default-list text-medium text-dark">
                                <li><a href="#"><span class="items">Репетиторы</span><span class="counter text-muted">52 275</span></a></li>
                                <li><a href="#"><span class="items">Мастера по ремонту</span><span class="counter text-muted">13 358</span></a></li>
                                <li><a href="#"><span class="items">Мастера красоты</span><span class="counter text-muted">1 9 600</span></a></li>
                                <li><a href="#"><span class="items">Врачи</span><span class="counter text-muted">5 358</span></a></li>
                                <li><a href="#"><span class="items text-disabled">Спортивные тренеры</span><span class="counter text-muted">6 025</span></a></li>
                                <li><a href="#"><span class="items">Автионструкторы</span><span class="counter text-muted">877</span></a></li>
                                <li><a href="#"><span class="items">Артисты</span><span class="counter text-muted">24 588</span></a></li>
                                <li><a href="#"><span class="items">Домашний персонал</span><span class="counter text-muted">2 589</span></a></li>
                                <li><a href="#"><span class="items">IT - фрилансеры</span><span class="counter text-muted">569</span></a></li>
                                <li><a href="#"><span class="items">Бухгалтери и юристы</span><span class="counter text-muted">1 459</span></a></li>
                                <li><a href="#"><span class="items">Ветеринары</span><span class="counter text-muted">170</span></a></li>
                            </ul>
                        </div>
                    </div>
                </aside>
                <div class="main-content">
                    <ul class="list-category">
                        <li><a href="#">а</a></li>
                        <li><a href="#">б</a></li>
                        <li><a href="#">в</a></li>
                        <li><a href="#">г</a></li>
                        <li><a href="#">д</a></li>
                        <li><a href="#">е</a></li>
                        <li><a href="#">ж</a></li>
                        <li><a href="#">з</a></li>
                        <li><a href="#">и</a></li>
                        <li><a href="#">й</a></li>
                        <li><a href="#">к</a></li>
                        <li><a href="#">л</a></li>
                        <li><a href="#">м</a></li>
                        <li><a href="#">н</a></li>
                        <li><a href="#">о</a></li>
                        <li><a href="#">п</a></li>
                        <li><a href="#">р</a></li>
                        <li><a href="#">с</a></li>
                        <li><a href="#">т</a></li>
                        <li><a href="#">у</a></li>
                        <li><a href="#">ф</a></li>
                        <li><a href="#">х</a></li>
                        <li><a href="#">ц</a></li>
                        <li><a href="#">ч</a></li>
                        <li><a href="#">ш</a></li>
                        <li><a href="#">щ</a></li>
                        <li><a href="#">э</a></li>
                        <li><a href="#">ю</a></li>
                        <li><a href="#">я</a></li>
                    </ul>
                    <div class="vocabluary-component">
                        <div class="sign-main">
                            a
                        </div>
                        <div class="sign-kinds">
                            <div class="content-row">
                                <h6 class="h6"><a href="#">Айкидо<span class="text-disabled">112</span></a></h6>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <ul class="list-vocabluary">
                                            <li><a href="#">Айкибудо<span class="counter">4</span></a></li>
                                            <li><a href="#">Реальное айкидо<span class="counter">3</span></a></li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-4">
                                        <ul class="list-vocabluary">
                                            <li><a href="#">Айкидо айкикай<span class="counter">51</span></a></li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-4">
                                        <ul class="list-vocabluary">
                                            <li><a href="#">Айкидо ёсинкан<span class="counter">12</span></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="content-row">
                                <h6 class="h6"><a href="#">Акробатика<span class="text-disabled">94</span></a></h6>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <ul class="list-vocabluary">
                                            <li><a href="#">Акробатика спортивная<span class="counter">4</span></a></li>
                                            <li><a href="#">Акробатика танцевальная<span class="counter">3</span></a></li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-4">
                                        <ul class="list-vocabluary">
                                            <li><a href="#">Батут<span class="counter">51</span></a></li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-4">
                                        <ul class="list-vocabluary">
                                            <li><a href="#">Силовая акробатика<span class="counter">12</span></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="vocabluary-component">
                        <div class="sign-main">
                            б
                        </div>
                        <div class="sign-kinds">
                            <div class="content-row">
                                <h6 class="h6"><a href="#">Бадминтон<span class="text-disabled">112</span></a></h6>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <ul class="list-vocabluary">
                                            <li><a href="#">Балет<span class="counter">94</span></a></li>
                                            <li><a href="#">Балет партерная гимнастика<span class="counter">4</span></a></li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-4">
                                        <ul class="list-vocabluary">
                                            <li><a href="#">Постановка классического танца<span class="counter">51</span></a></li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-4">
                                        <ul class="list-vocabluary">
                                            <li><a href="#">Балет подготовка к поступлению в училища<span class="counter">12</span></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <h6 class="h6"><a href="#">Бодифлекс<span class="text-disabled">112</span></a></h6>
                                <h6 class="h6"><a href="#">Бои без правил<span class="text-disabled">94</span></a></h6>
                                <h6 class="h6"><a href="#">Большой теннис<span class="text-disabled">324</span></a></h6>
                            </div>
                        </div>
                    </div>
                    <div class="vocabluary-component">
                        <div class="sign-main">
                            й
                        </div>
                        <div class="sign-kinds">
                            <div class="content-row">
                                <h6 class="h6"><a href="#">Йога<span class="text-disabled">458</span></a></h6>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <ul class="list-vocabluary">
                                            <li><a href="#">Аштанга виньяса йога<span class="counter">46</span></a></li>
                                            <li><a href="#">Аштанга-йога<span class="counter">32</span></a></li>
                                            <li><a href="#">Детская йога<span class="counter">47</span></a></li>
                                            <li><a href="#">Йога 23<span class="counter">30</span></a></li>
                                            <li><a href="#">Йога айенгара<span class="counter">18</span></a></li>
                                            <li><a href="#">Йога для беременных<span class="counter">9</span></a></li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-4">
                                        <ul class="list-vocabluary">
                                            <li><a href="#">Йога для женщин   <span class="counter">46</span></a></li>
                                            <li><a href="#">Дыхательные практики  <span class="counter">32</span></a></li>
                                            <li><a href="#">Медитативные практики  <span class="counter">47</span></a></li>
                                            <li><a href="#">Йога нидра  <span class="counter">30</span></a></li>
                                            <li><a href="#">Йога танец Шивы  <span class="counter">18</span></a></li>
                                            <li><a href="#">Йога-терапия  <span class="counter"> 6</span></a></li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-4">
                                        <ul class="list-vocabluary">
                                            <li><a href="#">Кундалини-йога  <span class="counter">46</span></a></li>
                                            <li><a href="#">Парная йога  <span class="counter">32</span></a></li>
                                            <li><a href="#">Раджа-йога  <span class="counter">47</span></a></li>
                                            <li><a href="#">Фитнес-йога  <span class="counter">30</span></a></li>
                                            <li><a href="#">Хатха-йога   <span class="counter">18</span></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <h6 class="h6"><a href="#">Бодифлекс<span class="text-disabled">112</span></a></h6>
                                <h6 class="h6"><a href="#">Бои без правил<span class="text-disabled">94</span></a></h6>
                                <h6 class="h6"><a href="#">Большой теннис<span class="text-disabled">324</span></a></h6>
                            </div>
                        </div>
                    </div>
                    <div class="vocabluary-component">
                        <div class="sign-main">
                            л
                        </div>
                        <div class="sign-kinds">
                            <div class="content-row">
                                <h6 class="h6"><a href="#">Латиноамериканские танцы<span class="text-disabled">112</span></a></h6>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <ul class="list-vocabluary">
                                            <li><a href="#">Бег марафон<span class="counter">4</span></a></li>
                                            <li><a href="#">Бег на длинные дистанции<span class="counter">3</span></a></li>
                                            <li><a href="#">Бег на короткие дистанции<span class="counter">4</span></a></li>
                                            <li><a href="#">Бег на средние дистанции<span class="counter">3</span></a></li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-4">
                                        <ul class="list-vocabluary">
                                            <li><a href="#">Бег с препятствиями<span class="counter">30</span></a></li>
                                            <li><a href="#">Лёгкая атлетика бег<span class="counter">18</span></a></li>
                                            <li><a href="#">Лёгкая атлетика прыжки<span class="counter"> 6</span></a></li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-4">
                                        <ul class="list-vocabluary">
                                            <li><a href="#">Прыжки в длину<span class="counter">47</span></a></li>
                                            <li><a href="#">Спортивная ходьба<span class="counter">18</span></a></li>
                                            <li><a href="#">Толкание ядра<span class="counter">6</span></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <h6 class="h6"><a href="#">Лёгкая атлетика<span class="text-disabled">94</span></a></h6>
                                <h6 class="h6"><a href="#">ЛФК<span class="text-disabled">94</span></a></h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>