<section class="section section-search text-center">
  <div class="row">
    <img src="assets/images/search-img.png" alt="img-description" class="search-img center-block">
    <h2 class="h2">Выбирайте специалиста <a routerLink="search" class="link-default">самостоятельно</a> по вашим критериям<br> или
      <a href="#request" class="link-default">оставьте заявку</a> и мы подберём специалиста .</h2>
    <div class="col-md-4">
      <profiza-request-form></profiza-request-form>
    </div>
    <div class="section-search-info">
      <div class="col-md-6">
        <profiza-popular-specialities></profiza-popular-specialities>
      </div>
      <div class="col-md-6">
        <profiza-active-profiles></profiza-active-profiles>
      </div>
      <div class="col-md-12">
        <profiza-review-bar></profiza-review-bar>
      </div>
    </div>
  </div>
</section>