<section class="section section-sm section-schedule">
    <h3 class="h3">График работы</h3>
    <ul class="default-list">
        <li>
            <span class="items">Пн - Пт</span>
            <span class="counter">07:00 - 21:00</span>
        </li>
        <li>
            <span class="items">Сб</span>
            <span class="counter">09:00 - 19:00</span>
        </li>
        <li>
            <span class="items">Вс</span>
            <span class="counter">выходной</span>
        </li>
    </ul>
</section>
<section class="section section-sm section-socials">
    <h3 class="h3">Рассказать о мастере</h3>
    <ul class="list-socials">
        <li><a href="#" class="icon"><i class="icon-vk"></i></a></li>
        <li><a href="#" class="icon"><i class="icon-facebook"></i></a></li>
        <li><a href="#" class="icon"><i class="icon-odnoklassniki"></i></a></li>
        <li><a href="#" class="icon"><i class="icon-twitter"></i></a></li>
    </ul>
</section>
