$mark: (
	background: map-get($colors, white),
	border: #cdd8e2,
	color: map-get($colors, darkGray),
	shadow: rgba(map-get($colors, black), .05)
);

.mark{
	position: relative;
	font-size: 18px;
	width: 82px;
	height: 82px;
	background: map-get($mark, background);
	border-radius: 50%;
	border: 4px solid map-get($mark, border);
	padding: 0;
	box-shadow: 0 0 10px 5px map-get($mark, shadow);
	.counter{
		@include absolute-centered-el;
		font-size: 40px;
		font-weight: 700;
		color: map-get($mark, color);
	}
	.label{
		position: absolute;
        width: 70px;
		top: -24px;
		right: -21px;
	}
}

.mark-sm{
	@extend .mark;
	width: 50px;
	height: 50px;
	.counter{
		font-size: 18px;
	}
}

.mark-lg{
	@extend .mark;
	width: 112px;
	height: 112px;
	.counter{
		font-size: 60px;
	}
}
