<div class="grid-item ">
  <div class="grid-header">
    <span class="items">Отзывы о работе специалистов</span>
  </div>
  <div class="grid-body">
    <div>
      <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
        <div>
          <div class="carousel-caption">
            <div class="thumbnail-review">
              <div class="img-container">
                <img src="assets/images/user-slider-1.jpg" alt="img-description" class="img-cirlce">
                <div class="mark">
                  <div class="label">
                    <img src="assets/images/mark-label.png" alt="img-description">
                  </div>
                  <span class="counter">5</span>
                </div>
              </div>
              <div class="caption">
                <h3 class="h3">Литвиненко Наталья Викторовна</h3>
                                <p>репетитор - математика</p>
              </div>
            </div>
            <div class="review-body">
              <div class="review-description text-muted">
                <p>Добрый день! Наш репетитор Иванникова Наталья Викторовна, является профессионалом, очень качественно и грамотно выстраивает отношения с учеником, пунктуальна. Очень довольны знакомством с ней. Будем продолжать сотрудничество.</p>
              </div>
              <div class="review-info text-muted thin-line">
                <span class="author">Ирина</span>
                <span>,</span>
                <span class="date">4 сентября 2016</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>