<section class="section section-promo">
  <div class="row">
    <div class="col-md-8 col-sm-6 col-xs-12">
      <div class="promo-card">
        <img src="assets/images/promo-card-img.jpg" alt="img-description" class="promo-card-img">
        <div class="promo-card-caption">
          <h2 class="h2">Зарегистрируйтесь
            <br>бесплатно и получите
            <br>новых клиентов!
          </h2>
          <a routerLink="registration" class="btn btn-default">Регистрация</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
      <profiza-popular-category></profiza-popular-category>
    </div>
  </div>
</section>