<div class="info-box">
  <h2 class="h2">Выберите специальность</h2>
  <div class="col-md-7 col-sm-6">
    <div class="row">
      <ul class="default-list-dark">
        <li *ngFor="let category of firstCategorySet"><a [routerLink]="['step-1']" [queryParams]="{categoryId: category.id}">{{category.title}}</a></li>
      </ul>
    </div>
  </div>
  <div class="col-md-5 col-sm-6">
    <div class="row">
      <ul class="default-list-dark">
        <li *ngFor="let category of secondCategorySet"><a [routerLink]="['step-1']" [queryParams]="{categoryId: category.id}">{{category.title}}</a></li>
      </ul>
    </div>
  </div>
</div>
