<section class="section section-about text-center">
  <h2 class="h2">О проекте</h2>
  <div class="col-sm-4">
    <div class="thumbnail">
      <div class="img-container">
        <img src="assets/images/about-1.png" alt="img-description">
      </div>
      <div class="caption">
        <h3>Огромный выбор</h3>
        <div class="text-muted">
          <p>Самое большое количество
            <br> мастеров своего дела
            <br> в различных видах услуг</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="thumbnail">
      <div class="img-container">
        <img src="assets/images/about-2.png" alt="img-description">
      </div>
      <div class="caption">
        <h3>Удобный поиск</h3>
        <div class="text-muted">
          <p>Быстрый и удобный поиск нужных
            <br> вам специалистов по городам,
            <br> категориям и видам услуг</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="thumbnail">
      <div class="img-container">
        <img src="assets/images/about-3.png" alt="img-description">
      </div>
      <div class="caption">
        <h3>Прямые контакты</h3>
        <div class="text-muted">
          <p>Подробные анкеты
            <br> и открытые контакты
            <br> специалистов</p>
        </div>
      </div>
    </div>
  </div>
</section>