<section class="section section-hero">
  <div class="container">
    <div class="row">
      <div class="info-container-lg">
        <div class="col-md-9">
          <div class="row">
            <h2 class="h2">Бесплатный сервис поиска мастеров своего дела. 200 000 мастеров в 500 видах услуг. </h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="container">
  <div class="row">
    <profiza-search-bar></profiza-search-bar>
    <profiza-categories></profiza-categories>
    <profiza-city-filter-bar></profiza-city-filter-bar>
    <profiza-about-short></profiza-about-short>
    <profiza-promo-box></profiza-promo-box>
    <profiza-search-section></profiza-search-section>
    <profiza-social-box></profiza-social-box>
  </div>
</div>