@font-face {
  font-family: 'Muller';
  src: local(" "), url("../fonts/muller/MullerBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: local(" "), url("../fonts/muller/MullerMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: local(" "), url("../fonts/muller/MullerRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: local(" "), url("../fonts/muller/MullerRegularItalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}
