html {
    box-sizing: border-box;
    height: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

* {
    max-height: 1000000px;
}

body {
    @include font-smoothing(on);
    margin: 0;
    height: 100%;
}

#wrapper {
    width: 100%;
    height: 100%;
    display: table;
    table-layout: fixed;
    margin: 0 auto;
}

// adaptive images
img {
    max-width: 100%;
    height: auto;
}

// google map fix
.gm-style img {
    max-width: none
}

// hide tel links on desktop
@media only screen and (min-width:1025px) {
    a[href^=tel],
    a[href^=skype],
    a[href^=sms] {
        cursor: default;
        pointer-events: none;
    }
}

a {
    text-decoration: none;
    &:hover,
    &:focus,
    &:active {
        text-decoration: none;
    }
}
