.user-container {
    font-size: 15px;
    line-height: 30px;
    width: 66%;
    float: left;
    color: map-get($colors, muted);
    @include media ('<desktop') {
        width: 100%;
    }
    @include media ('<tablet') {
        padding: 0 15px;
    }
    .list-horizontal {
        margin: 0 0 13px 29px;
        @include media ('<tablet') {
            margin: 0;
        }
        li {
            margin: 0 52px 0 0;
            letter-spacing: 1.2px;
            @include media ('<tablet') {
                letter-spacing: 0;
                margin: 0 4px 15px;
            }
        }
        a {
            font-size: 12px;
            @include media ('<tablet') {
                font-size: 10px;
            }
        }
    }
    .list-dotted {
        margin-bottom: 6px;
        li {
            margin-bottom: 26px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .h6 {
        color: map-get($colors, black);
        margin: 4px 0 13px;
    }
    .section-about {
        padding: 0;
        p {
            margin: 0 0 34px;
            &:last-child {
                margin: 0;
            }
        }
    }
    .gallery {
        margin-top: 9px;
    }
}

@import 'user-aside';
