<div class="info-box">
  <div class="steps-container">
    <div class="steps-bar">
      <div class="step-item step-item-completed">
        <div class="item-icon">
          <i class="icon-check"></i>
        </div>
        <span class="step-counter">1</span>
      </div>
      <div class="step-item step-item-completed">
        <div class="item-icon">
          <i class="icon-check"></i>
        </div>
        <span class="step-counter">2</span>
      </div>
      <div class="step-item step-item-active">
        <div class="item-icon">
          <i class="icon-check"></i>
        </div>
        <span class="step-counter">3</span>
      </div>
    </div>
  </div>
  <div class="info-box">
    <h2 class="h2">Данные отправлены</h2>
    <div class="text-muted text-box">
      <p>Поздравляем! Ваши данные успешно отправлены.<br>Теперь они пройдут модерацию, и в скором времени с вами свяжется наш
        менеджер для подтверждения регистрации. После этого анкета будет опубликована на сайте,<br> и вы сможете получать
        новых клиентов.</p>
    </div>
  </div>
  <div class="text-center">
    <a href="index.html" class="btn btn-default">Спасибо</a>
  </div>
</div>