<div class="grid-item">
  <div class="grid-header">
    <a [routerLink]="['search']" [queryParams]="{ categoryId : categoryId }">
      <span class="items">{{category.title}}</span>
      <span class="counter">{{category.totalWorkers}}</span>
    </a>
  </div>
  <div class="grid-body">
    <ul class="default-list">
      <li *ngFor="let speciality of category.specialities| slice:0:5;">
        <a [routerLink]="['search']" [queryParams]="{specialityId: speciality.id}" >
        <span class="items">{{speciality.title}}</span><span class="counter text-muted">{{speciality.totalWorkers}}</span></a>
      </li>
      <li><a [routerLink]="['search']" [queryParams]="{categoryId: category.id}" class="link-default right-icon">Все {{category.specialities.length}} предмета<i class="icon-arrow-right"></i></a></li>
    </ul>
  </div>
</div>