<div class="grid-item grid-item-well">
  <form [formGroup]="filterForm">
  <div class="panel-group">
    <div class="panel panel-open">
      <div class="grid-header" ng-click="toggleOpen()">
        <span class="items">Фильтр поиска</span>
        <i class="icon-chevron-thin-down"></i>
      </div>
      <div class="panel-collapse collapse">
        <div class="grid-body grid-body-well"></div>
      </div>
      <div class="panel-collapse collapse in">
        <div id="price" class="grid-body grid-body-well" heading="Фильтр поиска" template-url="group-template.html"
          is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
          <!--<div class="form-group">
            <label for="lastname" class="control-label">Вид спорта</label>
            <input type="text" class="form-control" id="lastname" placeholder="Фитнес">
          </div>-->
          <div class="form-group">
            <label for="town" class="control-label">Что ищем?</label>
            <div id="town">
              <input formControlName="query" class="form-control form-control-dark" [value]="query">
            </div>
          </div>
          <div class="form-group">
            <label for="town" class="control-label">Город</label>
            <div class="select-box" id="town">
              <select formControlName="city">
                <option>Выберите город</option>
                <option *ngFor="let city of cities">{{city.title}}</option>
              </select>
            </div>
          </div>
          <!--<div class="form-group">
            <label class="control-label">Место занятий</label>
            <div class="custom-radio">
              <span>у меня</span>
              <label for="training-place" class="radio-btn">
                <input type="checkbox" id="training-place">
                <span class="radio-btn-toggle"></span>
              </label>
              <span>у тренера</span>
            </div>
          </div>-->
          <!-- <div class="form-group">
            <label class="custom-checkbox" for="input-2">
                <input formControlName="withReviews" type="checkbox" id="input-2" checked>
                <span class="square">
                        <i class="icon-check"></i>
                    </span>
                <span class="text-box text-muted">С отзывами</span>
            </label>
          </div> -->
          <!--<div class="form-group">
            <label class="control-label">Пол трнера</label>
            <div class="custom-radio">
              <span>мужчина</span>
              <label for="gender" class="radio-btn">
                                                  <input type="checkbox" id="gender">
                                                  <span class="radio-btn-toggle"></span>
                                              </label>
              <span>женщина</span>
            </div>
          </div>-->
        </div>
      </div>
    </div>
  </div>
  </form>
</div>