$select-box: (
	border: #cbd9e4,
	radius: 0,
	iconColor: #abbdcb,
    color: map-get($colors, muted)
);

.select-box {
    @extend .icon-chevron-thin-down;
    position: relative;
    width: 100%;
    overflow: hidden;
    color: map-get($select-box, color);
    &:before{
        @extend [class^="icon-"];
        @include absolute-vertical-centered-el;
        right: 4px;
        font-size: 5px;
        font-weight: 700;
        color: map-get($select-box, iconColor);
    }
    select {
        @extend .ellipsis;
        width: 100%;
        appearance: none;
        border: none;
        border-bottom: 1px solid map-get($select-box, border);
        box-shadow: none;
        background-color: transparent;
        background-image: none;
        padding: 4px 20px 4px 0;
        cursor: pointer;
        border-radius: 0;
        height: 28px;
        &:focus{
            outline: none;
        }
    }
}
