<section class="section">
    <div class="grid-item">
        <div class="grid-header">
            <span class="items">Вас также могут заинтересовать</span>
        </div>
        <div class="grid-body">
            <div class="thumbnail-user">
                <div class="img-container">
                    <img src="assets/images/user-1.jpg" alt="img-description" class="img-cirlce" width="62" height="62">
                </div>
                <div class="caption">
                    <a href="#">
                        <h3>Аврамец Анжелика</h3>
                    </a>
                    <p>фитнес</p>
                </div>
            </div>
            <div class="thumbnail-user">
                <div class="img-container">
                    <img src="assets/images/user-2.jpg" alt="img-description" class="img-cirlce" width="62" height="62">
                </div>
                <div class="caption">
                    <a href="#">
                        <h3>Литвиненко Наталья</h3>
                    </a>
                    <p>репетитор - математика</p>
                </div>
            </div>
            <div class="thumbnail-user">
                <div class="img-container">
                    <img src="assets/images/user-3.jpg" alt="img-description" class="img-cirlce" width="62" height="62">
                </div>
                <div class="caption">
                    <a href="#">
                        <h3>Иванов Олег</h3>
                    </a>
                    <p>электик</p>
                </div>
            </div>
        </div>
    </div>
</section>
