<nav class="navbar navbar-default">
  <div class="container">
    <div class="row">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
          aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
        <a class="navbar-brand" routerLink="">
            <img src="assets/images/logo.svg" alt="profiza" class="logo">
          </a>
      </div>
      <div class="navbar-collapse" id="bs-example-navbar-collapse-1">
        <div class="nav navbar-nav navbar-right">
          <a routerLink="registration" class="btn btn-primary btn-centered hidden-xs">Разместить услугу</a>
          <!-- <span uib-dropdown>
            <a id="simple-dropdown" class="dropdown-toggle" uib-dropdown-toggle>
                Моя Profiza<span class="caret"></span>
            </a>Î
          <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
          </ul>
          </span> -->
        </div>

      </div>
    </div>
  </div>
</nav>