<section class="section-see-more">
  <h3 class="h3">Смотрите также</h3>
  <ul class="list-inline">
    <li><a href="#" class="text-muted text-dotted">Массаж</a></li>
    <li><a href="#" class="text-muted text-dotted">Хореография</a></li>
    <li><a href="#" class="text-muted text-dotted">Тренер по айкидо</a></li>
    <li><a href="#" class="text-muted text-dotted">Тренер по акробатике</a></li>
    <li><a href="#" class="text-muted text-dotted">Тренеры по бильярду</a></li>
    <li><a href="#" class="text-muted text-dotted">Тренеры по волейболу</a></li>
    <li><a href="#" class="text-muted text-dotted">Яхтинг</a></li>
    <li><a href="#" class="text-muted text-dotted">Тренеры по бодибилдингу</a></li>
    <li><a href="#" class="text-muted text-dotted">Тренеры по бодифлексу</a></li>
    <li><a href="#" class="text-muted text-dotted">Тренеры по футболу</a></li>
  </ul>
</section>