<div class="claim-form">
  <img src="assets/images/search-img.png" alt="img-description" class="img-search">
  <h3 class="h3">Заявка на подбор специалиста</h3>
  <span class="quote">Мы вам перезвоним</span>
  <div class="action-row">
    <div class="col-sm-4 col-xs-12">
      <div class="form-control-box">
        <label for="name" class="control-label">Ваше имя</label>
        <input type="text" class="form-control form-control-green" id="name">
      </div>
    </div>
    <div class="col-sm-4 col-xs-12">
      <div class="form-control-box">
        <label for="phone" class="control-label">Телефон</label>
        <input type="text" class="form-control form-control-green" id="phone">
      </div>
    </div>
    <div class="col-sm-4 col-xs-12">
      <button type="submit" class="btn btn-default btn-block">Отправить</button>
    </div>
  </div>
</div>