<div class="container">
            <div class="row">
                <div class="page-header page-header-holder">
                    <div class="row">
                        <div class="col-md-6">
                            <ol class="breadcrumb">
                                <li><a href="#">{{category?.title}}</a></li>
                                <li class="active">{{speciality?.title}}</li>
                            </ol>
                            <h1 class="h1">Поиск специалиста</h1>
                            <!-- <ul class="list-horizontal list-middle-dot">
                                <li><a href="#" class="text-muted text-dotted">Тренажерный зал</a></li>
                                <li><a href="#" class="text-muted text-dotted">Зумба</a></li>
                                <li><a href="#" class="text-muted text-dotted">TRX</a></li>
                                <li><a href="#" class="text-muted text-dotted">Фитнес-бикини</a></li>
                                <li><a href="#" class="text-muted text-dotted">Коррекция фигуры</a></li>
                            </ul> -->
                        </div>
                        <div class="col-md-6">
                            <!-- <profiza-phone-request></profiza-phone-request> -->
                        </div>
                    </div>
                </div>
                <aside class="main-sidebar">
                    <profiza-filter [query]="query" (filterChanged)="updateSearch($event)"></profiza-filter>
                    <!-- <profiza-see-also></profiza-see-also> -->
                </aside>
                <div class="main-content" *ngIf="!users.length">
                    <h2 >По вашему запросу ничего не найдено</h2>
                </div>
                <div class="main-content" *ngIf="!!users.length">
                    <h2 class="h2">{{users.length| niceNumber}} предложения:</h2>
                    <profiza-user-card *ngFor="let user of users" [user]="user"></profiza-user-card>
                </div>
            </div>
        </div>