 <div class="container">
    <div class="row">
        <div class="page-header">
            <ol class="breadcrumb">
                <li><a href="#">Спортивные тренеры</a></li>
                <li class="active">Морозова Анна Алексеевна</li>
            </ol>
        </div>
        <div class="user-container">
        	<profiza-profile-user-card [user]="user"></profiza-profile-user-card>
        </div>
        <aside class="user-aside">
            <profiza-profile-user-aside-info></profiza-profile-user-aside-info>
            <profiza-profile-also-like></profiza-profile-also-like>
        </aside>
    </div>
</div>
