<section class="section section-social text-center">
  <h2 class="h2">Мы в соцсетях</h2>
  <div class="grid-view-socials row">
    <div class="col-xs-4">
      <a routerLink="">
        <span class="grid-item">
                                    <i class="icon-vk"></i>
                                </span>
      </a>
    </div>
    <div class="col-xs-4">
      <a routerLink="">
        <span class="grid-item">
                                    <i class="icon-facebook"></i>
                                </span>
      </a>
    </div>
    <div class="col-xs-4">
      <a routerLink="">
        <span class="grid-item">
                                    <i class="icon-odnoklassniki"></i>
                                </span>
      </a>
    </div>
  </div>
</section>