.list-middle-dot {
    @extend .default-list;
    a {
        position: relative;
        &:after {
            content: '';
            position: absolute;
            top: 6px;
            right: -6px;
            width: 2px;
            height: 2px;
            background: map-get($colors, muted);
        }
    }
    li {
        &:last-child {
            a {
                &:after {
                    display: none;
                }
            }
        }
    }
}
