<div class="container footer-inner">
  <div class="row">
    <div class="col-md-6 col-sm-3 logo-container">
      <div class="row">
        <a routerLink="" class="logo">
          <img src="assets/images/logo-inverted.svg" alt="PROFIZORRO">
        </a>
        <div class="copyright">
          <span>&copy; profiza, 2017</span>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-9">
      <div class="row">
        <div class="col-sm-4 col-xs-6">
          <ul class="footer-list">
            <li><a routerLink="">Стать специалистом</a></li>
            <li><a routerLink="">О компании</a></li>
            <li><a routerLink="">Условия использования</a></li>
            <li><a routerLink="">Партнёрам</a></li>
          </ul>
        </div>
        <div class="col-sm-4 col-xs-6">
          <ul class="footer-list">
            <li><a routerLink="">Новости</a></li>
            <li><a routerLink="">Блог</a></li>
            <li><a routerLink="">Вакансии</a></li>
            <li><a routerLink="">История заказов</a></li>
          </ul>
        </div>
        <div class="col-sm-4 col-xs-6">
          <ul class="footer-list">
            <li><a routerLink="">Бесплатный подбор</a></li>
            <li><a routerLink="">Все отзывы</a></li>
            <li><a routerLink="">Правовые документы</a></li>
            <li><a routerLink="">Карта сайта</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
